@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root {
  --font:         'Montserrat', sans-serif;
  --transition:   all 0.15s ease-out; 
  --radius:       8px;
  --primary:    #4364E8;
  --dark:       #141A21;
  --grey-light: #D1D1D1;
  --light:      #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--light);
  padding: 40px 30px 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font);
  background: var(--dark);
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin-bottom: 10px;
}

.label {
  text-transform: uppercase;
  color: var(--grey-light);
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 10px 3px;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input input {
  width: 100px;
  border: 0;
  padding: 10px;
  margin: 0 10px 0 0;
  color: var(--dark);
  border-radius: var(--radius);
  outline: none;
  box-shadow: none;
  border: 3px solid var(--dark);
  text-align: center;
  font-family: var(--font);
  font-size: 1.4em;
  font-weight: 500;
  transition: var(--transition);
}

.input input:focus {
  color: var(--primary);
  border-color: var(--primary);
}

.button {
  cursor: pointer;
  background: var(--primary);
  color: var(--light);
  margin-top: 2px;
  padding: 13px 30px;
  border: 0;
  border-radius: var(--radius);
  text-align: center; 
  transition: var(--transition);
  font-family: var(--font);
  font-size: 1.2em;
  font-weight: 600;
}